.title {
  margin: 24px 0 16px;
}

.movie-thumbnail {
  width: 100%;
  height: 20px;
}

.similar_movies {
  .col-md-4 {
    margin-top: 5px; // adjust this value as needed
    margin-bottom: 5px; // adjust this value as needed
  }
}
